<div class="hero">

<div class="textbox">
<h1><span>How do you grade participation?</span></h1>
<br/><br/>

<h2><span>This app will help you.</span></h2>
</div>

</div>

<br/>

<div class="col-xs-10 col-xs-offset-1 text-center">


<br/>

<%= image_tag 'gradebook.png', class: 'img-responsive' %>

<br/><br/>

<%= image_tag 'newclass.png', class: 'img-responsive' %>

<br/><br/>

<%= image_tag 'student.png', class: 'img-responsive' %>

<br/><br/>

<%= image_tag 'email.png', class: 'img-responsive' %>

<br/><br/>

<h1><%= link_to 'Get started today!', new_user_registration_path %></h1>

<br/><br/>

</div>
