<br/>
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

<%= link_to class_path(@student.course) do %>
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
  Back to <%= @student.course.name %>
<% end %>
<br/><br/>

<h1 class="text-center">Edit Student</h1>
<br/>

<%= simple_form_for @student, url: student_path(@student) do |f| %>
  <%= f.input :first_name %><br/>
  <%= f.input :last_name %><br/>
  <%= f.input :email_address, label: 'Email address (optional)'.html_safe %><br/>
  <%= f.submit 'Update', class: 'btn' %>
<% end %>

</div>
