<br/>
<div class="col-xs-10 col-xs-offset-1 text-center">

<%= link_to class_path(@course), class: 'pull-left' do %>
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  Back to <%= @course.name %>
<% end %>
<br/><br/>

<h1><%= @student.first_name %>&nbsp;<%= @student.last_name %> </h1>
<br/>
<h4><%= @course.name %> | <%= @student.points %>/<%= @course.total_points %> points | <%= ((@student.points.to_f)/(@course.total_points.to_f)*100).round(2) %>%</h4>
<br/><br/>

<div class="text-left">
<h2>Comments</h2>
<br/>

<% if !@comments.empty? %>

<% @comments.sort{|a,b| b.created_at <=> a.created_at}.each do |comment| %>
<p> <%= link_to student_comment_path(@student, comment), method: :delete, data: {confirm: 'Are you sure you want to delete this comment?'} do %>
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  <% end %>
<b><%= comment.created_at.strftime('%b %e, %Y') %></b> - 
<%= comment.message %></p>
<% end %>

<% else %>
<p>There are no comments for <%= @student.first_name %> yet.</p>
<% end %>
<br/>

<!-- New comment trigger modal -->
        <button class="btn" id="new-comment" data-toggle="modal" data-target="#newCommentModal">
           <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Comment
        </button>

</div>

<br/>
<hr/>
<br/>

<%= link_to student_path(@student), method: :delete, data: {confirm: 'Are you sure you want to delete this student?'} do %>
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Student
<% end %>
</div>

<!-- New comment modal -->
<div class="modal fade" id="newCommentModal" tabindex="-1" role="dialog" aria-labelledby="newCommentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newCommentModalLabel">Add a new comment about <%= @student.first_name %></h4>
      </div>
      <%= simple_form_for @comment, url: student_comments_path(@student), html: {id: 'newCommentForm'} do |f| %>
      <div class="modal-body">
          <%= f.input :message %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <%= f.submit 'Submit', class: 'btn' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
