<br/>
<div class="col-xs-10 col-xs-offset-1 text-center">

<h1>My Classes</h1>
<br/>
<!-- New class trigger modal -->
    <button class="btn" id="new-class" data-toggle="modal" data-target="#newClassModal">
      New Class
    </button>
<br/><br/>

<% current_user.courses.each do |course| %>
  <%= link_to course.name, class_path(course) %>
  <br/>
<% end %>

</div>

<!-- New class modal -->
<div class="modal fade" id="newClassModal" tabindex="-1" role="dialog" aria-labelledby="newClassLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newClassModalLabel">Add a new class</h4>
      </div>
      <%= simple_form_for @new_course, url: classes_path, html: {id: 'newClassForm'} do |f| %>
      <div class="modal-body">
          <%= f.input :name %><br/>
          <%= f.input :starting_points %>
          <i>Default number of participation points each student will start with.</i><br/><br/>
          <%= f.input :total_points %>
          <i>Total participation points possible to earn.</i><br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <%= f.submit 'Create', class: 'btn' %>
      </div>
      <% end %>
    </div>
  </div>
</div>