<!DOCTYPE html>
<html>
<head>
  <title>Participation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://use.fontawesome.com/ee14bb1f23.js"></script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'Participation', root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'My Classes', classes_path %></li>
        </ul>
      <ul class="nav navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li><%= link_to current_user.email, classes_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
  </div>
</nav>

<% if notice.present? %>
  <p class="alert alert-info text-center"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger text-center"><%= alert %></p>
<% end %>

<%= yield %>

<footer>
      © <a class="contact" href="http://www.kellylougheed.com" target="_blank">Kelly Lougheed</a> <%= Date.today.year %>. All rights reserved.
</footer>

</body>
</html>
